*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/LoginFF.png);  /* fallback for old browsers */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}





.form-register {
    width: 400px;
    background: rgba(255, 255, 255, 0.05);
    padding: 30px;
    margin: auto;
    border-radius: 20px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;

}

#_titulo {
    color: #f7f7f7;
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#_nombre{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;   
    border:1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color:white;
    
}

#_rut{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;   
    border:1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color:white;

}

#_telefono{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;   
    border:1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color:white;
}

#_email{
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;   
    border:1px solid #fff;
    font-family: 'calibri';
    font-size: 18px;
    color:rgb(0, 0, 0);
}

#_asunto{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;   
    border:1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color:white;
}

#_mensaje{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;   
    border:1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color:white;
    min-height: 150px;
    max-height: 150px ;
    min-width: 340px;
    max-width: 340px;
}

.form-register h4{
    font-size: 23px;
    margin-bottom: 20px;
    text-align: center;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;

}
.form-register a {
    color:white;
    text-decoration:none;
}
.form-register a:hover {
    color:white;
    text-decoration:underline;
}



#submit{
    width: 100%;
    background: #1f53c5;
    padding: 12px;
    color: white;
    border: none;
    margin: 16px 0;;
    margin-top: 1px;
    font-size: 19px;
    cursor:pointer; 
    font-family: 'Roboto', sans-serif;
    border-radius: 25px;
}

#submit:hover{
    background:#f0ad4e;
    color: #292b2c;
}

.error{
    background-color: #e44837;
    font-size: 12px;
    padding: 10px;
}

.correcto{
    background-color: #A0DEA7 ;
    font-size: 12PX;
    padding: 10px;
}


#_password{
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;   
    border:1px solid #fff;
    font-family: 'calibri';
    font-size: 18px;
    color:rgb(0, 0, 0);
}
#_cpassword{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;   
    border:1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color:white;
}
#_username{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;   
    border:1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color:white;
}
.olvidaste{
    text-align: center;
    font-family: 'calibri';
    font-size: 18px;
    margin-bottom: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
}



@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@700&display=swap');
